<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTf-8">
		<title>
			AI Resume Parser
		</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
	</head>
	
	<body>
		
		<!-- conatiner starts -->
		<div class="conatiner p-5" style="color:#ffffff;background-color:#1f1c1c">

			<!-- header starts -->
			<header class="mb-5">
				<legend class="py-3">
					<h1>AI Resume Parser</h1>
				</legend>
			</header>
			<!-- header ends -->

			<!-- input section -->
			<section id="" class="mt-5">

				<div class="row">

					<div class="col-6" id="input">

						<!-- form input -->
						<form>
							<div class="input-group mb-3">
								<input type="file" class="form-control" id="pdf_file" name="pdf_file" required>
								<!-- <label class="input-group-text" for="">Upload</label> -->
								<button class="btn btn-primary" type="button" id="upload_btn" name="upload_btn">Upload</button>
							</div>
							<div class="input-group mb-3">
								<!-- f7b66b orange -->
								<!-- 1A73E8 blue primary -->
								<span class="input-group-text" style="color:#000000;">Job Description</span>
								<textarea class="form-control" aria-label="With textarea" id="job_desc" name="job_desc"></textarea>
							</div>
							<div class="row">
								<div class="col-6 d-grid gap-2">
									<button class="btn" type="button" style="background-color:#E67E22; color:#ffffff;" id="read_btn" name="read_btn">Read</button>
								</div>
								<div class="col-6 d-grid gap-2">
									<button class="btn" type="button" style="background-color:#6C757D; color:#ffffff;" id="analyze_btn" name="analyze_btn">Analyze</button>
								</div>
							</div>
						</form>
						<!-- form ends here -->

					</div>

					<div class="col-6" id="">

						<legend>
							Raw Text
						</legend>

						<!-- display raw text -->
						<div id="raw_text">

						</div>

					</div>

				</div>

			</section>
			<!-- input section ends here -->

			<!-- output section -->
			<section id="" class="mt-5">

				<div class="row">

					<div class="col-6" id="">

						<legend>
							Gap Analysis
						</legend>

						<!-- display gaps -->
						<div id="gap_analysis">
							
						</div>

					</div>

					<div class="col-6">

						<div class="row">

							<div class="col-12" id="score">

								<legend>
									Score
								</legend>

								<!-- display score -->
								<div id="score">
							
								</div>

							</div>

						</div>

						<div class="row">
							<div class="col-12" id="chart">
								<legend>
									Chart
								</legend>
								<div id="chart">
							
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- output section ends here -->

			<!-- developers section -->
			<section id="developers" class="mt-5">
				<div>
					<legend>
						Developers
					</legend>
				</div>
			</section>
			<!-- developers section ends here -->

			<!-- footer starts -->
			<footer class="mt-5">
				<div>
					<legend>Footer</legend>
				</div>
			</footer>
			<!-- footer ends -->

		</div>
		<!-- conatiner starts -->
		
		<!-- <script type="module" src="../static/js/main.js" ></script> -->
		<script src="{{url_for('static', filename='js/main.js')}}" type="module"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
		
	</body>
</html>