Flask==3.1.2
gunicorn==23.0.0
PyMuPDF==1.26.7
Flask-WTF==1.2.2
spacy==3.8.11
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
scikit-learn==1.6.1
#spacy==3.7.1
#en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
#python=="3.13.4"   THIS VERSION OF PYTHON IS USED IN THIS PROJECT